<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wecon.lf_wannabe.walkonnovel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.permission.camera2" />


    <application
        android:name="com.wecon.lf_wannabe.walkonnovel.BookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.wecon.lf_wannabe.walkonnovel.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wecon.lf_wannabe.walkonnovel.view.AddBookActivity" />
        <activity android:name="com.wecon.lf_wannabe.walkonnovel.view.AddPostActivity"
            android:label="addPostTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".view.PopDeleteVookActivity"
            android:theme="@style/AppTheme.PopUpDialog"/>
        <activity android:name=".view.BookDetailsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wecon.lf_wannabe.walkonnovel"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>